%section.hello.row.align-items-center
  .container
    %h1.hello__title.main-title Hello, World!
%section.about
  .container
    .row.justify-content-center
      .about__photo.col-4
        %img{:alt => "", :src => "/img/IMG_4301 1.png"}
      .about__body.col-7.col-sm-5
        %h2.about__title
          Это я :)
          %h2
        %p.about__text
          Меня зовут Харламова Мария. Я учусь в группе ИС/б-19-2-о и это моя лабораторная работа по WEB-технологиям.